.breadcrumb {

  &__navigation {
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    padding-right: 26px;

    &:not(:last-child)::after{
      position: absolute;
      content: '>';
      width: 12px;
      height: 12px;
      margin-left: 9px;
    }
  }

  &__link {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: var(--color-grey);
  }
}