.catalog {
  overflow-x: hidden;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding-bottom: 32px;
  }

  @media (min-width: 1024px) {
    padding-bottom: 40px;
  }

  &__list {
    display: flex;
    gap: 4px;
  }

  &__item {
  }

  &__link {
    display: block;
    align-self: center;
    border-radius: 32px;
    padding: 11px 14px 13px;
    background-color: var(--color-light);

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: var( --color-grey);

    transition: all 0.5s ease-in;
    

    &:hover {
      background-color: var(--color-light);
      color: #0044f0;

    }

    &:active {
    background-color: var( --color-accent);
    color: var(--color-white);

    }
  }

  &__link--active {
    background-color: var( --color-accent);
    color: var(--color-white);
  }
}
