.order {
  border: 1px solid var(--color-light);
  border-radius: 16px;
  height: auto;
  padding: 24px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  &__info {
    display: grid;
    grid-template-areas: 'title .'
    'price .'
    'id .';

    @media (min-width: 768px) {
      grid-template-areas: 'title price'
    'id .';
    }
    
    gap: 8px;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__info-title {
    grid-area: title;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var( --color-dark);
    margin-bottom: 8px;

    @media (min-width: 768px) {
      margin-bottom: 12px;
    }

    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }

  &__info-price {
    grid-area: price;
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__info-id {
    grid-area: id;
    display: block;
    border-radius: 32px;
    padding: 4px 8px;
    width: 63px;
    height: 22px;
    background: var(--color-light);
    font-size: 12px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid var(--color-light);
    border-radius: 16px;
    padding: 24px 16px;

    @media (min-width: 768px) {
      padding: 60px 151px;
    }

    @media (min-width: 1024px) {
      padding: 60px 159px;
    }

    @media (min-width: 1440px) {
      padding: 60px 212px;
    }
  }

  &__info-table {
  }

  &__table {
    width: 100%;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      width: 408px;
      height: 209px;
    }
  }

  &__table-title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  &__table-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  var(--color-light);
    padding-bottom: 8px;
  }

  &__table-item {
    font-size: 12px;
    color: var( --color-grey);

    &:last-child {
      color: var( --color-dark);
      text-align: right;
    }
  }

  &__info-link {
    display: block;
    width: 100%;
    border: 1px solid var( --color-accent);
    border-radius: 32px;
    padding: 12px 24px;
    background-color: var( --color-accent);

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    color: var(--color-white);

    @media (min-width: 768px) {
      width: 408px;
    }
  }

}